<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=8,chrome=1"/>
    <title>热点新闻</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="炫酷新闻,热点新闻,新闻热点,五花八门,搞笑娱乐,好玩新闻,最新热点">
    <meta name="description" content="提供各种热点、娱乐、搞笑、养生、汽车、星座等新闻资讯">
    <meta name="copyright" content="本网站版权归kukumai所有">
    <title>热点新闻</title>
    <link rel="icon" href="//news-dtxww.oss-cn-hangzhou.aliyuncs.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js"></script>
    <script>
      (function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
      b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
      s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
      })(window,document,"script","_qha",434728,false);
    </script>
  </head>
  <body>
    <div id="app">
      <div class="mini_main">
        <div v-show="dialogFlag" class="mini_dialog_main">
            <div class="mini_dialog_news">
                <div class="mini_dialog_close" @click="clickClose()" @click.stop>ⓧ</div>
                <div class="mini_dialog_news_block" v-for="(item,index) in dialogNewsList" @click="gotoNews(item,index)" :key="index">
                    <div class="mini_dialog_image" @click="gotoNews(item,index)" @click.stop>
                        <a target="_blank" :href="item.url"><img :src='item.pics[0]'/></a>
                    </div>
                    <div class="mini_dialog_image_title">
                        <a target="_blank" :href="item.url" @click="gotoNews(item,index)" @click.stop>{{item.title}}</a>
                        <p>{{item.from}}</p>
                    </div>
                </div>
                <MiniAdvItem v-if="showAdvFlag2" class="mini_adver_dialog_class_style" :actionItem="actionItem1"></MiniAdvItem>
            </div>
        </div>
        <div class="mini_main_title">
            <ul class="mini_main_title_ul">
            </ul>
        </div>
        <div class="mini_right">
            <ul class="mini_right_list">
                <li v-for="(item,index) in rightList.slice(0,3)" :key="index">
                    <div v-if="item.type == 2">
                        <div v-if="index == 0">
                            <MiniAdvItem :actionItem="actionItemCC1" type="kitchen" class="mini_adver_kicthen_class_style"></MiniAdvItem>
                        </div>
                        <div v-else>
                            <MiniAdvItem :actionItem="actionItemCC2" type="kitchen" class="mini_adver_kicthen_class_style"></MiniAdvItem>
                        </div>
                    </div>
                    <div v-else>
                        <NewsSlider v-on:gotoNews="gotoNews" :nsId="index" nWidth="200" nHeight="185" v-bind:newsList="getSlideNewsList(item.data)"></NewsSlider>
                        <MiniAdvItem v-if="showAdvFlag3" :actionItem="actionItem2" class="mini_adver_flag_class_style"></MiniAdvItem>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mini_middle" @scroll="scrollHandler">
            <div class="mini_content">
                <div class="mini_content_item" v-for="(item,index) in newsList" :key="getNextKey(item,index)">
                    <MiniAdvItem v-if="item.type == 2" class="mini_adver_class_style" :actionItem="actionItemList"></MiniAdvItem>
                    <MiniNewsItem v-else v-on:gotoNews="gotoNews" :newsInfo="item" :cateName="getCateName()">
                        <MiniAdvItem v-if="showAdvFlag1" class="mini_adver_flag_class_style" :actionItem="actionItem3"></MiniAdvItem>
                    </MiniNewsItem>
                </div>
            </div>
        </div>
        <div v-show="moreFlag" class="mini_bottom_more" @click="gotoNextPage()">更多未读资讯<span>››</span></div>
    </div>
    </div>
    <script src="./entry.js"></script>
    <div style="position: fixed;bottom: -50px;">
      <!-- build_mode 默认 100 -->
      <!-- <script type="text/javascript" src="//v1.cnzz.com/z_stat.php?id=1280623588&web_id=1280623588"></script> -->
      <!-- 西瓜便签：110 -->
      <!-- <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1280623639&web_id=1280623639"></script> -->
      <!-- 炫彩日历：130 -->
      <!-- <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1280623645&web_id=1280623645"></script> -->
      <!-- 游窝盒子：140 -->
      <!-- <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1280623597&web_id=1280623597"></script> -->
      <!-- 人人笔记：150 -->
      <!-- <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1280623594&web_id=1280623594"></script> -->
    </div>
  </body>
</html>
